* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html, body {
   overflow-x: hidden;
}

/* TOMBOL BACK */

/* ini untuk contact design*/
nav.tombol-back {
   display: flex;
   letter-spacing: 2px;
   padding: 2rem 8rem;
   color: white;
   height: 50px;
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 2;
}

/* ini untuk profil design */
nav.tombol-kembali {
   display: flex;
   letter-spacing: 2px;
   padding: 2rem 8rem;
   color: white;
   height: 50px;
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 2;
}

nav ul {
   display: flex;
   list-style: none;
   width: 50%;
}

nav ul li a {
   color: white;
   text-decoration: none;
   font-size: 2.5rem;
   position: relative;
   padding: .5rem 0;
   display: flex;
   justify-content: center;
   letter-spacing: 2px;
}


nav ul li a::before {
   content: '';
   width: 0;
   position: absolute;
   height: 2px;
   background-color: white;
   bottom: 0;
   transition: all 500ms;
}

nav ul li a:hover::before {
   width: 50%;
}


/* CONTACT DESIGN */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
   --bg-color: #191f36;
   --snd-bg-color: #262B40;
   --text-color: #fff;
   --main-color: #59b2f4;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   font-size: 62.5%;
   background-color: var(--bg-color);
   color: var(--text-color);
}

section {
   font-size: 62.5%;
   min-height: 100vh;
   padding: 1rem 9% 2rem;
}

.contact {
   font-size: 62.5%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contact-content h3 {
   font-size: 3.2rem;
   font-weight: 700;
}

.contact-content h3:nth-of-type(2) {
   margin-bottom: 2rem;
}

span {
   color: var(--main-color);
}

span.huruf {
   font-size: 3.2rem;
   font-weight: 700;
}

.contact-content h1 {
   font-size: 5rem;
   font-weight: 700;
   line-height: 1.3;
}

.contact-content p {
   font-size: 1.8rem;
   opacity: 0;
}

.contact-img img {
   width: 25vw;
   animation: floatImage 4s ease-in-out infinite;
   -webkit-animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-2.4rem);
   }
   100% {
      transform: translateY(0);
   }
}

.social-media a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   width: 4rem;
   height: 4rem;
   background: transparent;
   border: .2rem solid var(--main-color);
   border-radius: 50%;
   font-size: 2rem;
   color: var(--main-color);
   margin: 1rem 1.5rem 3rem 0;
   transition: .3s ease;
}

.social-media a:hover {
   background: var(--main-color);
   color: var(--snd-bg-color);
   box-shadow: 0 0 1rem var(--main-color);
}

.btn {
   display: inline-block;
   text-decoration: none;
   padding: 1rem 2.8rem;
   background: var(--main-color);
   font-size: 1.6rem;
   color: var(--bg-color);
   letter-spacing: .1rem;
   font-weight: 600;
   transition: .3s ease;
}

.btn:hover {
   box-shadow: 0 0 1rem var(--main-color);
}

/* PROFIL DESIGN */
.profil {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Nunito', sans-serif;
   gap: 10rem;
   background: var(--snd-bg-color);
}

.profil-img img {
   width: 20vw;
}

.heading {
   text-align: center;
   font-size: 4.5rem;
}

.profil-content h2 {
   text-align: left;
   padding: 1rem 0 1rem;
   line-height: 1.2;
}

.profil-content h3 {
   font-size: 2.6rem;

}

.profil-content p {
   font-size: 1.6rem;
   margin: 2rem 0 3rem;
   margin-bottom: 30px;
   line-height: 1.6;
   letter-spacing: 2px;
}



/* ----------------------------------- */
/* MEDIA QUERY: MEMBUAT RESPONSIVE (PENTING!) */
/* ----------------------------------- */

/* ukuran tablet */
@media (max-width: 768px) {
   .contact {
      flex-direction: column;
   }

   .contact-content h3 {
      margin: 1rem .5rem 1rem 0;
      font-size: 2.6rem;
   }

   .contact-content h1 {
      font-size: 3rem;
   }

   .contact-content p {
      display: none;
   }
 
   .social-media a {
      margin: 1rem 1.5rem 3rem 0;
   }

   .contact-content {
      order: 2;
   }

   .contact-img img {
      width: 50vw;
      margin-top: 0;
   }


}

/* ukuran mobile */
@media (max-width: 576px) {
   .contact {
      flex-direction: column;
   }

   .contact-content h3 {
      margin: 1rem .5rem 1rem 0;
      font-size: 2.6rem;
   }

   .contact-content h1 {
      font-size: 2.3rem;
   }

   .contact-content p {
   display: none;
   /* opacity: 0; */
}

   .contact-content {
      order: 2;
   }

   .contact-img img {
      width: 70vw;
      
   }

   /* tombol back untuk contact design */
   nav.tombol-back { 
   /* background: var(--snd-bg-color); */
   display: flex;
   position: relative;
   letter-spacing: 2px;
   padding: 2rem 4rem;
   }

   /* tombol back untuk profil design */
   nav.tombol-kembali { 
   background: var(--snd-bg-color);
   display: flex;
   position: relative;
   letter-spacing: 2px;
   padding: 2rem 4rem;
   }

   nav ul li a {
      font-size: 2rem;
   }

   .profil {
      flex-direction: column;
      gap: 2.5rem;
   }

   .profil-img img {
      width: 50vw;
      margin-top: 3rem;
   }

   .profil-content p {
      font-size: 1.3rem;
   }

   .heading {
      font-size: 3.5rem;
   }

   .profil-content h3 {
      font-size: 2.3rem;
   }
}
